<div class="modal-header">
    <h3 class="modal-title">Registro de Gestión Documentaria</h3>
</div>
<div class="modal-body">
    <fieldset class="form-inline header">
        <div class="row">
            <dl class="dl-horizontal inline-block"><dt>Enviado por:</dt><dd>{{ record.sender }}</dd></dl>
            <dl class="dl-horizontal inline-block"><dt>Fecha Creación: </dt><dd>{{ record.formatDate }}</dd></dl>
            <dl class="dl-horizontal inline-block"><dt>Código:</dt><dd>{{ record.code }}</dd></dl>
        </div>
        <div class="row" ng-show="false">
            <div class="col-md-4 form-group"><strong>Oficina.Sección:</strong></div>
        </div>
    </fieldset>
    <fieldset class="form-horizontal" ng-disabled="false" ng-show="false">
        <div class="form-group">
            <label class="control-label col-sm-2">Para:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="record.destination"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Dirección:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="record.address">
            </div>
            <dl class="dl-horizontal inline-block"><dd>{{ record.district }}</dd></dl>
        </div>
        <div class="form-group" ng-show="false">
            <label class="control-label col-sm-2">Descripción:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Detalle:</label>
            <div class="col-sm-4">
                <textarea class="form-control prevent-resize" rows="4" cols="200" ng-model="record.detail"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2 text-left">Nro. Doc:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="record.document">
            </div>
        </div>
    </fieldset>
    <fieldset class="form-horizontal" ng-disabled="false" ng-show="true">
        <dl class="dl-horizontal inline-block record-details">
            <dt>Para:</dt><dd>{{ record.destination }}</dd>
            <dt>Direccion:</dt><dd>{{ record.address }}</dd>
            <dt>Distrito:</dt><dd>{{ record.district }}</dd>
            <dt>Nro. Doc:</dt><dd>{{ record.document }}</dd>
            <dt>Referencia:</dt><dd>{{ record.reference }}</dd>
        </dl>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-show="false">Actualizar</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cerrar</button>
</div>