<h3>Registros</h3>
<div class="row">
    <div id="warningAlert"
         class="alert alert-dismissible col-md-5 col-md-offset-4 center"
         role="alert"
         style="display:none"
         ng-class="{'warning': 'alert-warning', 'success': 'alert-success', 'danger': 'alert-danger'}[alertStyle]">
      <button type="button" class="close" aria-label="Close"></button>
      {{ alertMsg }}
    </div>
</div>
<form>
    <div class="filters row" ng-show="false">
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" value="Despacho" checked>Despacho</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" value="Consolidar">Consolidar</label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" value="Transito">Transito </label></div>
        </div>
        <div class="col-md-3">
            <div class="checkbox"><label><input type="checkbox" value="Culminado">Culminado</label></div>
        </div>
    </div>
</form>
<div class="row">
    <div class="grid"
         ui-grid="gridOptions"
         ui-grid-pagination
         ui-grid-resize-columns>
     </div>
</div>
